@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
html {
    scroll-behavior: smooth;
  }
body {
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    background-color: #F4F1ED;
}

/*ORDEN DE LAS IMAGENES EN PANTALLAS MAS CHICAS*/
@media only screen and (max-width: 700px) {
    .fila2 div:first-child {
        order: 1;
    }
}

/*PRIMERA SECCION*/
#comoFunciona {
    background-image: url(assets/imgs-index/layered-waves-haikei-2.svg);
    background-repeat: no-repeat;
    background-size: 100px cover;
    padding: 100px 0;
}
#logo-home {
    width: 50px;
    height: 50px;
}

.navbar {
    background-color: #EED971FF;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.burbujaDeTexto img { 
    width: 370px;
    height: auto;
}

.imagen1 img {
    margin-top: 100px;
    height: 461px;
    width: auto;
}

.imagen2 {
    height: 461px;
}
.imagen2 img { 
    height: 446px;
    width: auto;
}
.imagen3 img { 
    height: 470px;
    width: auto;
}

/*  SEGUNDA SECCION   */
.generador {
    padding: 50px 0px;
    background-color: white;
    text-align: center;
}
.container2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}
.campo-generador {
    width: 400px;
    border: 1px solid #1e1e1e;
    text-align: center;
    padding: 20px 10px;
}
.campo-generador span {
    font-weight: 600;
}
.container2 img {
    max-width: 200px;
}
.container2 button {
    margin: 20px;
}


/*  TERCERA SECCION   */
.lista {
    padding: 50px 0px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}
.lista hr {
    color: #1e1e1e;
    width: 50%;
}

.form-custom {
    text-align: center;
}
.añadir-obj h2 {
    padding-top: 50px;
    padding-bottom: 20px;
}

/*GENERALES*/
.btn {
    color: white;
    margin: 5px;
}